import * as S from './styles'

export type Props = {
  name?: string
}

export function {{pascalCase name}}({ name }: Props) {
  return (
    <S.Container>
      <h1>{{pascalCase name}}: {`${name}`}</h1>
    </S.Container>
  )
}
